body {
    min-width: 365px;
}

.navbar-default {
    background-color: #9b59b6;
    border-color: #8e44ad;
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ecdbff;
}

.navbar-default .navbar-text {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ecdbff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ecdbff;
    background-color: #8e44ad;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ecdbff;
    background-color: #8e44ad;
}

.navbar-default .navbar-toggle {
    border-color: #8e44ad;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #8e44ad;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}

.navbar-default .navbar-link {
    color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
    color: #ecdbff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ecdbff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ecdbff;
        background-color: #8e44ad;
    }
}

.skew {
    background: #56ab2f;
    background: -webkit-linear-gradient(to left, #a8e063, #56ab2f);
    background: linear-gradient(to left, #a8e063, #56ab2f);
    transform: skewY(2deg);
}
.skew1 {
    background: white;
    transform: skewY(2deg);
}

.unskew {
    transform: skewY(-2deg);
}
.unskew1 {
    transform: skewY(-2deg);
}
.cover {
    height: 900px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
    /*background: #56ab2f; !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to left, #a8e063, #56ab2f); !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to left, #a8e063, #56ab2f); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    /*-webkit-clip-path: polygon(100% 0, 100% 100%, 0 80%, 0 0);*/
    /*clip-path: polygon(100% 0, 100% 100%, 0 80%, 0 0);*/
    /*z-index: 0;*/
    overflow: hidden;
    margin-bottom: 85px;

}

.cover > .container {
    position: relative;
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .cover {
        height: 600px;
    }
}

.cover .table,
.cover .tablec {
    height: 900px;
    display: table;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .cover .table,
    .cover .tablec {
        height: 600px;
    }
}

.cover.cover-sm {
    height: 600px;
}

@media screen and (max-width: 768px) {
    .cover.cover-sm {
        height: 400px;
    }
}

.cover.cover-sm .table,
.cover.cover-sm .tablec {
    height: 600px;
    display: table;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .cover.cover-sm .table,
    .cover.cover-sm .tablec {
        height: 400px;
    }
}

#header .tablec,
#counter .tablec,
.cover .tablec {
    display: table-cell;
    vertical-align: middle;
}

#header .tablec h1, #header .tablec h2,
#counter .tablec h1,
#counter .tablec h2,
.cover .tablec h1,
.cover .tablec h2 {
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
}

#header .tablec h1,
#counter .tablec h1,
.cover .tablec h1 {
    margin-bottom: 0px;
    font-size: 70px;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    #header .tablec h1,
    #counter .tablec h1,
    .cover .tablec h1 {
        font-size: 40px;
    }
}

#header .tablec h2,
#counter .tablec h2,
.cover .tablec h2 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

#counter .table,
#counter .tablec {
    height: 500px;
    display: table;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #counter {
        height: inherit;
        padding: 7em 0;
    }

    #counter .table,
    #counter .tablec {
        height: inherit;
    }
}


.img-responsive {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
    z-index: 30;
}

@media screen and (min-width: 611px) {
    .main-logo > .img-responsive {
        max-width: 50%;
        height: auto;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    #counter .feature-center {
        margin-bottom: 50px;
    }
}
.feature-center .icon i {
    display: table-cell;
    vertical-align: middle;
    height: 90px;
    font-size: 40px;
    line-height: 40px;
    color: #52d3aa;
}


.feature-center h3 {
    text-transform: uppercase;
    font-size: 18px;
    color: #5d5d5d;
}

@media screen and (max-width: 768px) {
    .feature-center {
        /*margin-bottom: 50px;*/
        height: 350px
    }
}

.feature-center .icon {
    width: 90px;
    height: 90px;
    background: #efefef;
    display: table;
    text-align: center;
    margin: 0 auto 30px auto;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .tabs .icon-xlg {
        font-size: 300px;
    }
}

@media screen and (max-width: 480px) {
    .tabs .icon-xlg {
        font-size: 200px;
    }
}

#counter {
    text-align: center;
}

#counter .counter {
    font-size: 50px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 100;
    display: block;
}

#counter .counter-label {
    margin-bottom: 0;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: .1em;
}

span > img {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    image-resolution: from-image;
    max-height: 150px;
}

.submit {
    border-radius: 45px;
    margin-top: 5vh;
    font-size: 3vh;
    background-color: #7C64BA;
    border: none;
    padding: 10px;
}

.form-control {
    border-radius: 45px;
    margin-top: 2vh;
}

.contacts {
    display: inline-block;
    float: right;
}

.container-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    padding-top: 80px;
    background: #56ab2f;
    background: -webkit-linear-gradient(to left, #a8e063, #56ab2f);
    background: linear-gradient(to left, #a8e063, #56ab2f);
    /*-webkit-clip-path: polygon(100% 20%, 100% 100%, 0 80%, 0 0);*/
    /*clip-path: polygon(100% 20%, 100% 100%, 0 80%, 0 0);*/
}

h3 {
    text-align: center;
}

#form {
    display: inline-flex;
}

div.form {
    display: flex;
    justify-content: center;
}

div.button {
    display: block;
    text-align: center;
    padding-bottom: 50px;
}

.icon {
    clip-path: circle(42.2% at 50% 50%);
}

.img-circle {
    max-width: 60%;
    padding: 5%;
}

.team {
    font-size: 2em;
    display: block;
    text-align: center;
    padding: 25px, 0px;
    padding-top: 25px;
}

.member img {
    transition: all 0.5s ease-out;
    transform: scale(1.0) rotate(0deg);
}

.member:hover img {
    transform: scale(1.2) rotateX(10deg);
}

.member {
    font-size: .5em;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    /*min-height: 350px;*/
}

.description {
    display: inline-block;
}

.logos {
    width: 15%;
    display: inline-block;
}

.about-us {
    margin-bottom: 20px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: gold;
}


#money {
    height: 900px;
    overflow: hidden;
    position: relative;
}
.layer {
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    position: relative;
    z-index: 1;
}

#money-mobile {
    display: none;
    background: url("../images/złączony.png") no-repeat center bottom/cover;
    height: 320px;
}

.paralax {
    position: relative;
}

.logo-block {
    position: relative;
    z-index: 30;
    float: none;
}

#money {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#money, .layer {
    background-size: cover;
}

.layer-bg {
    background-size: cover;
    position: absolute;
    background: none;
    background: #56ab2f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #a8e063, #56ab2f); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*-webkit-clip-path: polygon(100% 0, 100% 100%, 0 80%, 0 0);*/
    /*clip-path: polygon(100% 0, 100% 100%, 0 80%, 0 0);*/
}

.layer-1 {
    background-size: cover;
    background-image: url("../images/par1.png");
    background-position: center;
    z-index: 29;
    position: absolute;
}

.layer-2 {
    background-size: cover;
    background-image: url("../images/par2.png");
    background-position: center;
    z-index: 28;
    position: absolute;
}

.layer-3 {
    background-size: cover;
    background-image: url("../images/par3.png");
    background-position: center;
    z-index: 27;
    position: absolute;
}

.layer-4 {
    background-size: cover;
    background-image: url("../images/par4.png");
    background-position: center;
    z-index: 26;
    position: absolute;
}

/*.layer-overlay {*/
/*background-image: url("images/par1.png");*/
/*background-position: center;*/
/*}*/

@media only screen and (max-width: 768px) {
    #money {
        height: 600px;
        background: #56ab2f; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #a8e063, #56ab2f); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /*-webkit-clip-path: polygon(100% 0, 100% 100%, 0 80%, 0 0);*/
        /*clip-path: polygon(100% 0, 100% 100%, 0 80%, 0 0);*/
    }

    #money-mobile {
        display: block;
    }
}