body {
    position: relative;
    margin: 5vh 5vw 5vh 5vw;
    background-image: url("../src/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: table;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    justify-content: center;
    border: hidden;
    border-radius: 150px;
    width: 90vw;
    height: 90vh;
}

.slogan {
    display: table-cell;
    position: relative;
    text-align: center;
    color: white;
    vertical-align: middle;
}

.slogan h1 {
    font-size: 15em;
}