html {
    background-image: url("../src/background.jpg");
    background-size: 100%;
}
.slogan {
    font-family: 'Anton', sans-serif;
    color: white;
    text-align: center;
    margin-top: 50%;
    font-size: 90px;
}
#page-header{
    background-color:grey;
    text-transform: uppercase;
}
.nav-pills > li > a {
    color: #000 !important;
    direction: inline-block;
}
.nav-pills > li > a.active {
    background-color: #000;
}
.nav-pills > li.active >a{
    color: #fff !important;
    background-color: #000;
    border-radius: 10px;
}

@media (max-width: 480px){
    .nav>li>a{
        padding: 5px 5px;
        font-size: 10px;
    }
}