.container-t {
    display: table;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 45px;
    justify-content: center;
    border: hidden;
    width: 90vw;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.team {
     display: block;
     position: relative;
     text-align: center;
     color: white;
     vertical-align: middle;
     width: 100%;
     /*padding-bottom: 5px;*/
     min-height: 172px;
     min-width: 260px;
     font-family: 'Pacifico', cursive;
     font-size: 8em;
     margin-top: 60px
 }
.tumbs {
    display: flex;
    justify-content: space-between;
    padding: 35px;

}
.text {
    margin: 0;
    padding: 0;
    background: none;
    font-size: 2em;
    transition: .5s;
}
.tumb {
    border-radius: 45px;
    padding: 15px;
}